pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data & Models (tracked separately via DVC in Experiment 3)
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib
mlruns/
#Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/

